<scroll-top>
  <a class="scroll-top-icon button button--outline" title="Back to top">
    {%- render 'icon' with 'arrow-up-new', width: 18 -%}
    <span>{{ settings.back_to_top_text }}</span>
  </a>
</scroll-top>
